:root {
    --black: #09020b;
    --white: #fbf4fd;
    --dark-mode-turquoise: #1D8775;
    --dark-mode-gold: #8B751D;
    --light-mode-turquoise: #1B7E6E;
    --light-mode-gold: #7E6A1B;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    color: var(--black);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--black);
}

a:hover {
    color: var(--light-mode-turquoise);
}

a:active {
    color: var(--light-mode-gold);
}

/* header */

header {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7rem;
}

header nav ul li {
    text-transform: uppercase;
}

/* main */

main {
    padding: 0 1rem 1rem;
}

article {
    margin-top: 0;
}

h2 {
    padding-bottom: 1rem;
}

#projects, #about, #contact {
    padding: 8rem 0 0;
    margin: 0;
}
  
::selection {
    background: var(--black);
    color: var(--white);
}