:root {
    --black: #09020b;
    --white: #fbf4fd;
    --dark-mode-turquoise: #1D8775;
    --dark-mode-gold: #8B751D;
    --light-mode-turquoise: #1B7E6E;
    --light-mode-gold: #7E6A1B;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    color: var(--black);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}